@charset "UTF-8";

html, body, main {
    background-color: #000000;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
}

video.mirror {
    transform: rotateY(180deg);
}
